name: code-checks

on:
  pull_request: {}
  push:
    branches:
      - "**"

jobs:
  gosec:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-lint.yml@0.48.0
    with:
      install-go: true
      lint-commands: |
        make bootstrap-tools
        make lintsec

  golint:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-lint.yml@0.48.0
    with:
      install-go: true
      lint-commands: |
        make bootstrap-tools
        make lint
