name: create-release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-release-goreleaser.yml@0.14.1
    with:
      go-version: 1.18.1
      version: ${{ github.event.inputs.version }}
      docker-platforms: linux/amd64,linux/arm64
      docker-tags: |
        ghcr.io/ckotzbauer/sbom-operator:${{ github.event.inputs.version }}
        ghcr.io/ckotzbauer/sbom-operator:latest
      cosign-repository: ghcr.io/ckotzbauer/sbom-operator-metadata
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      pat: ${{ secrets.REPO_ACCESS }}
      ghcr-password: ${{ secrets.GHCR_PASSWORD }}

  job-image-cas:
    uses: ckotzbauer/sbom-operator/.github/workflows/release-job-image.yml@main
    needs: [release]
    with:
      version: ${{ github.event.inputs.version }}
      job-image: cas
      docker-platforms: linux/amd64
      docker-tags: |
        ghcr.io/ckotzbauer/sbom-operator/cas:${{ github.event.inputs.version }}
        ghcr.io/ckotzbauer/sbom-operator/cas:latest
      cosign-repository: ghcr.io/ckotzbauer/sbom-operator-metadata
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      pat: ${{ secrets.REPO_ACCESS }}
      ghcr-password: ${{ secrets.GHCR_PASSWORD }}

  job-image-vcn:
    uses: ckotzbauer/sbom-operator/.github/workflows/release-job-image.yml@main
    needs: [release]
    with:
      version: ${{ github.event.inputs.version }}
      job-image: vcn
      docker-platforms: linux/amd64
      docker-tags: |
        ghcr.io/ckotzbauer/sbom-operator/vcn:${{ github.event.inputs.version }}
        ghcr.io/ckotzbauer/sbom-operator/vcn:latest
      cosign-repository: ghcr.io/ckotzbauer/sbom-operator-metadata
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      pat: ${{ secrets.REPO_ACCESS }}
      ghcr-password: ${{ secrets.GHCR_PASSWORD }}

