name: create-release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true

jobs:
  release:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-release-goreleaser.yml@0.4.0
    with:
      go-version: 1.17
      version: ${{ github.event.inputs.version }}
      docker-platforms: linux/amd64,linux/arm64
      docker-tags: |
        ghcr.io/ckotzbauer/sbom-operator:${{ github.event.inputs.version }}
        ghcr.io/ckotzbauer/sbom-operator:latest
      cosign-repository: ghcr.io/ckotzbauer/sbom-operator-metadata
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      pat: ${{ secrets.REPO_ACCESS }}
      ghcr-password: ${{ secrets.GHCR_PASSWORD }}

