name: label-issues
on:
  issue_comment:
    types:
      - created
      - edited
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

jobs:
  label-issues:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-label-issues.yml@0.51.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

