name: Release Job-Image

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      version:
        required: true
        type: string
      docker-tags:
        required: false
        type: string
        default: ""
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      cosign-repository:
        required: false
        default: ""
        type: string
      job-image:
        required: true
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false

jobs:
  release-job-image:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Cosign
        uses: sigstore/cosign-installer@cc23fe1cf04164ea4c208611cf647a013c6f8cc5

      - name: Setup Syft
        uses: ckotzbauer/actions-toolkit/setup-syft@0.45.1

      - name: Build and push image
        uses: ckotzbauer/actions-toolkit/docker@0.45.1
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: job-images/${{ inputs.job-image }}
          push: true
          sign: true
          verify: true
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        uses: ckotzbauer/actions-toolkit/sbom@0.45.1
        with:
          images: ${{ inputs.docker-tags }}
          sign: true
          verify: true
          attest: true
          cosign-repository: ${{ inputs.cosign-repository }}
