name: Release Job-Image

on:
  workflow_call:
    inputs:
      branch:
        required: false
        default: main
        type: string
      version:
        required: true
        type: string
      docker-tags:
        required: false
        type: string
        default: ""
      docker-platforms:
        required: false
        default: linux/amd64
        type: string
      cosign-repository:
        required: false
        default: ""
        type: string
      job-image:
        required: true
        default: ""
        type: string
    secrets:
      token:
        required: true
      pat:
        required: true
      ghcr-password:
        required: false

jobs:
  release-job-image:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0
          token: ${{ secrets.pat }}

      - name: Setup Cosign
        uses: sigstore/cosign-installer@c3667d99424e7e6047999fb6246c0da843953c65

      - name: Setup Syft
        uses: ckotzbauer/actions-toolkit/setup-syft@0.33.1

      - name: Build and push image
        uses: ckotzbauer/actions-toolkit/docker@0.33.1
        with:
          ghcr-password: ${{ secrets.ghcr-password }}
          dockerhub-user: ${{ secrets.dockerhub-user }}
          dockerhub-password: ${{ secrets.dockerhub-password }}
          context: job-images/${{ inputs.job-image }}
          push: true
          sign: true
          verify: true
          cosign-repository: ${{ inputs.cosign-repository }}
          platforms: ${{ inputs.docker-platforms }}
          tags: ${{ inputs.docker-tags }}

      - name: Generate SBOM
        uses: ckotzbauer/actions-toolkit/sbom@0.33.1
        with:
          images: ${{ inputs.docker-tags }}
          sign: true
          verify: true
          attest: true
          cosign-repository: ${{ inputs.cosign-repository }}

      - name: Generate Provenance
        uses: ckotzbauer/actions-toolkit/slsa-provenance@0.33.1
        with:
          action-sha: "0.22.0"
          images: ${{ inputs.docker-tags }}
          artifact-path: job-images/${{ inputs.job-image }}
          sign: true
          verify: true
          attest: true
          cosign-repository: ${{ inputs.cosign-repository }}
