name: stale
on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    uses: ckotzbauer/actions-toolkit/.github/workflows/toolkit-stale.yml@0.51.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
