name: test

on:
  pull_request: {}
  push:
    branches:
      - "**"

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: "v1.3.1"
          install-only: true

      - name: Build binary
        run: make build

      - name: Unit tests
        run: make test

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          load: true
          platforms: linux/amd64
          tags: |
            ghcr.io/ckotzbauer/sbom-operator:latest

      - name: Container scan
        uses: ckotzbauer/actions-toolkit/grype@0.7.0
        with:
          scan-target: ghcr.io/ckotzbauer/sbom-operator
          fail-on: "medium"
